<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name"> Name: </label>
    <input type="text" formControlName="name" />
    @if (productForm.get('name')?.invalid && productForm.get('name')?.touched) {
    <p class="invalid">Name is required</p>
    }
  </div>
  <div>
    <label for="category">Category: </label>
    <input type="text" formControlName="category" />
  </div>
  <div>
    <label for="description">Description: </label>
    <input type="text" formControlName="description" />
  </div>
  <div>
    <label for="price">Price: </label>
    <input type="number" formControlName="price" step="0.01" min="0.01" />
  </div>
  <div>
    <label for="stock">Stock Quantity: </label>
    <input type="number" formControlName="stock" step="1" min="0" />
  </div>

  <div>
    <button [disabled]="productForm.invalid">Valider</button>
  </div>
</form>
