<div>
  <app-product-filter (searchResult)="onSearchResultChange($event)" />
  <div class="panels">
    <div class="left-panel">
      <app-product-list
        [products]="products$ | async | filter : search"
        (productSelected)="onProductSelected($event)"
      />
    </div>
    <div class="rigth-panel">
      <router-outlet></router-outlet>
    </div>
    <div class="action-buttons">
      <div class="add-actions hidden">
        <a class="action-button" (click)="onProductAdd()">Add Product</a>
        <a class="action-button" (click)="onBundleAdd()">Add Bundle</a>
      </div>
      <div class="actions">
        <a class="action-button" (click)="onProductEdit()">Edit Product</a>
        <a class="action-button add-button" (click)="onAdding()">Add</a>
      </div>
    </div>
  </div>
</div>
