<div>
  <app-product-filter (searchResult)="onSearchResultChange($event)" />
  <div class="panels">
    <div class="left-panel">
      <app-product-list
        [products]="products$ | async | filter : search"
        (productSelected)="onProductSelected($event)"
      />
    </div>
    <div class="rigth-panel">
      <router-outlet></router-outlet>
    </div>
    <div class="action-buttons">
      <a class="action-button" (click)="onProductEdit()">Editing</a>
      <a class="action-button" (click)="onProductAdd()">Adding</a>
    </div>
  </div>
</div>
